.attributes-section {
    display: flex;

    background-color: #A84D16;
    height: calc(100vh - 60px);
    width: 100%;

    border: 10px solid #92420f;
    box-sizing: border-box;

    justify-content: space-around;
    align-items: center;
}