.close-menu .close-menu-line {
    background-color: #fff;
    height: 30px;
    width: 3px;
}

.close-menu .close-menu-line._one{
    transform: rotate(45deg) translate(-10px, 10px);
}

.close-menu .close-menu-line._two {
    transform: rotate(-45deg) translate(11px, -31px);
}

.close-menu:hover {
    opacity: 50%;
}