.main-button {
    font-family: "Press Start 2P", cursive;
    background-color: #5C4D42;
    border: 2px solid #000;
    transition: transform 100ms;
}

.main-button.menu {
    height: 5rem;
    width: 120rem;
    margin-bottom: 20px;
}

.main-button:hover {
    transform: scale(1.02);
}

.main-button._status {
    width: 15rem;
    margin: 0;
}

