.main-img {
    height: 60rem;
    width: 30rem;
    border: 5px solid #5f2d0d;
    box-sizing: border-box;
}

.main-img._attributeSection {
    height: 40rem;
    width: 30rem;
    border: 5px solid #5f2d0d;
}

.main-img._enemy {
    height: 30rem;
    width: 15rem;
    border: none;
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 3;
}

.main-img._enemy:hover {
    transform: scale(1.02);
}

.main-img._mob {
    height: 30rem;
    width: 50rem;
    border: none;
    position: absolute;
    left: -50px;
    bottom: 0px;
    z-index: 3;
}

.main-img._mob:hover {
    transform: scale(1.02);
}