.menu-help {
    display: none;
}

.menu-help.on{
    display: block;
    background-color: #A84D16;
    border: 10px solid #92420F;
    box-sizing: border-box;
    height: 50rem;
    width: 100rem;

    position: absolute;
}
