.wrapper-battleArea {
    position: relative;
    height: 45rem;
}

.wrapper-battleArea .circle-floor {
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    height: 35rem;
    width: 70rem;
    transform: perspective(30rem) rotateX(40deg);
    z-index: 0;
}